<header>
        <div class="logo"><a href="{{ site.url }}"><h1>Enthusiastic</h1></a></div>
    <nav class="gnav">
    <ul class="menu">
      <li><a href="/posts">ブログ</a></li>
      <li><a href="/interlinks">相互リンク</a></li>
      <li><a href="/games">自作ゲーム</a></li>
      <li><a href="/profile">プロフィール</a></li>
      <li><a href="https://scratch.mit.edu/studios/27464523">感想・意見</a></li>
      <li><a href="https://scratch.mit.edu/studios/27464523">新デザインテスト公開中です！</a></li>
    </ul>
          </nav>
</header>
