<div class="sidebar">
  <div class="block">
    <h2>リンク</h2>
    <a href="/posts">ブログ記事一覧</a><br>
    <a href="/credits">クレジット</a><br>
    <a href="/404">404ページ</a><br>
    <a href="https://scratch.mit.edu/studios/27464523/">感想や意見</a>
  </div>
  <div class="block">
    <h2>相互リンク</h2>
    <a href="https://tan-10.github.io/">tan-10の研究所</a><br>
    By <a href="https://scratch.mit.edu/users/tan-10/">@tan-10</a><br>
    <a href="https://developermodoki.github.io/pages/">developermodoki's Pages</a><br>
    By <a href="https://scratch.mit.edu/users/Windows1000000_2">@Windows1000000_2</a><br>
    <a href="https://neko001robov.github.io/">nyankotrainのお部屋</a><br>
    By <a href="https://scratch.mit.edu/users/nyankotrain/">@nyankotrain</a><br>
  </div>
</div>
