<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  {%- if page.pagename -%}
  <title>{{ page.pagename }} - Enthusiastic</title>
  {%- else -%}
  <title>Enthusiastic</title>
  {%- endif -%}
  <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
  <link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">
  <meta name="description" content="ガジェット好き（？）の日誌、Enthusiasticです。">
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:url" content="{{site.url}}{{page.url}}" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:title" content="{{page.pagename}}" />
  <meta property="og:image" content="{{ site.url }}/assets/images/preview.png" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-24E0K371LD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-24E0K371LD');
  </script>
</head>

<body>
  <div class="container">
    {% include header.html %}
    <div class="main">
      <div class="block" style="float: left;">
        {%- if page.pagename -%}
        <div class="pagetitle">
          <h1>{{ page.pagename }}</h1>
          {%- if page.date -%}
          <div class="pageabout">{{ page.tags }} {{ page.date | date: "%Y/%m/%d"}}</div><br>
          {%- endif -%}
          {%- if page.image -%}
          <div class="pageimage"><img src="{{site.url}}/assets/images/{{ page.image }}">
          {%- endif -%}
          {%- if page.imagecaption -%}
          {{ page.imagecaption }}
          {%- endif -%}
          </div>
        </div>
        {%- endif -%}
        <article>
          {{ content }}
        </article>
        {%- if page.showfooter -%}
        {% include footer2.html %}
        {%- endif -%}
        {% include footer.html %}
      </div>
    </div>
  </div>
</body>

</html>
